@import "tailwindcss";

/* Root body and html - ensures full height */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5; /* light gray background for the graph */
  color: #333;
}

/* React Flow container */
.reactflow-wrapper {
  width: 100%;
  height: 100%;
  background: #111;
}

.genre-node {
  position: relative;
  pointer-events: auto;
}

.genre-node:hover .tooltip {
  display: block;
}


@keyframes edgePulse {
  to {
    stroke-dashoffset: -200;
  }
}